name: Mesazon Shared CI
on:
  push:
    branches: [ main ]
    paths:
      - 'mesazon-shared/**'
      - 'modules/**'
  pull_request:
    paths:
      - 'mesazon-shared/**'
      - 'modules/**'
jobs:
  tf-plan-dev:
    uses: ./.github/workflows/tf-plan.yml
    secrets: inherit # Inherit secrets from the parent workflow https://stackoverflow.com/questions/66113900/github-actions-not-receiving-secrets
    with:
      module: "mesazon-shared"
      env: "dev"
  tf-apply-dev:
    needs: [ "tf-plan-dev" ]
    uses: ./.github/workflows/tf-apply.yml
    secrets: inherit # Inherit secrets from the parent workflow https://stackoverflow.com/questions/66113900/github-actions-not-receiving-secrets
    with:
      module: "mesazon-shared"
      env: "dev"
