name: Mesazon TF CI
on:
  push:
    branches: [ main ]
    paths-ignore:
      - '.gitignore'
      - 'README.md'
  pull_request:
    paths:
      - '.gitignore'
      - 'README.md'
jobs:
  tf-fmt:
    uses: ./.github/workflows/terraform-ci.yml
    secrets: inherit # Inherit secrets from the parent workflow https://stackoverflow.com/questions/66113900/github-actions-not-receiving-secrets