name: mesazon-shared-ci
on:
  push:
    branches: [ main ]
    paths:
      - 'mesazon-shared/**'
      - 'modules/**'
  pull_request:
    paths:
      - 'mesazon-shared/**'
      - 'modules/**'
jobs:
  mesazon-shared-dev-tf-plan:
    uses: ./.github/workflows/tf-plan.yml
    secrets: inherit # Inherit secrets from the parent workflow https://stackoverflow.com/questions/66113900/github-actions-not-receiving-secrets
    with:
      project-id: "8a8c246e-2057-46b7-a01a-04cbbbf0b8d9"
      working-directory: "mesazon-shared/environments/dev"
      bucket-key: "mesazon-shared-dev"
  mesazon-shared-dev-tf-apply:
    needs: [ "mesazon-shared-dev-tf-plan" ]
    uses: ./.github/workflows/tf-apply.yml
    secrets: inherit # Inherit secrets from the parent workflow https://stackoverflow.com/questions/66113900/github-actions-not-receiving-secrets
    with:
      project-id: "8a8c246e-2057-46b7-a01a-04cbbbf0b8d9"
      working-directory: "mesazon-shared/environments/dev"
      bucket-key: "mesazon-shared-dev"
