name: tf-apply
on:
  workflow_call:
    inputs:
      module:
        description: "Module name"
        type: string
        required: true
      env:
        description: "Environment 'dev, prod, etc'"
        type: string
        required: true
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_VAR_do_token: ${{ secrets.DO_API_KEY }}
jobs:
  build:
    environment: manual_approval
    name: ${{ inputs.module }}-{{ inputs.env }}-tf-apply
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3
      - name: Terraform Init
        id: init
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.DO_SPACES_BUCKET }}" \
            -backend-config="key=${{ inputs.module }}-${{ inputs.env }}-tf-state/terraform.tfstate" \
            -backend-config="endpoint=https://${{ secrets.DO_SPACES_REGION }}.digitaloceanspaces.com"
      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
