name: tf-apply
on:
  workflow_call:
    inputs:
      working-directory:
        description: "Working directory"
        type: string
        required: true
      bucket-key:
        description: "Usually module name + environment (mesazon-shared-dev, etc)"
        type: string
        required: true
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_VAR_do_token: ${{ secrets.DIGITALOCEAN_API_KEY }}
jobs:
  build:
    environment: manual_approval
    name: tf-apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3
      - name: Terraform Init
        id: init
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.DO_SPACES_BUCKET }}" \
            -backend-config="key=${{ inputs.bucket-key }}-tf-state/terraform.tfstate" \
            -backend-config="endpoints={s3=\"https://${{ secrets.DO_SPACES_REGION }}.digitaloceanspaces.com\"}"
      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
